@font-face {
    font-family: 'verdana_Regular';
    src: url("fonts/verdana/verdana.ttf") format("ttf");
    // src: url("fonts/MT_Regular_PERSONAL_USE/MADETOMMY.eot?#iefix") format("embedded-opentype"),
    //     url("fonts/MT_Regular_PERSONAL_USE/MADETOMMY.woff2") format("woff2"), 
    //     url("fonts/MT_Regular_PERSONAL_USE/MADETOMMY.woff") format("woff"), 
    //     url("fonts/MT_Regular_PERSONAL_USE/MADETOMMY.ttf") format("truetype"), 
    //     url("fonts/MT_Regular_PERSONAL_USE/MADETOMMY.svg#MADETOMMY") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }